html {
    display: flex;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    text-align: center;
    background-image: url('https://img.freepik.com/premium-photo/chicken-coop-with-wooden-roof-wooden-roof_670382-2139.jpg?w=996');
    background-position: center;
    text-transform: uppercase;
}

h1 {
    font-size: 40px;
    margin: 0;
    color: white;
    text-shadow: 2px 2px #444;
}


.sub-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    /*width: 100vw;*/
}

.right {
    display: flex;
    align-items: center;
    margin: 20px;
    text-align: center;
}

#toggle-interaction {
    width: 250px;
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px;
    background: linear-gradient(0deg, #3955FF 0%, #91EFFF 100%);
    box-shadow: 0px 7.01925px 14.0385px 0px rgba(0, 0, 0, 0.18);
    text-transform: uppercase;
}

#toggle-interaction:hover {
    transform: translateY(-10px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.device {
    text-align: center;
    width: 100%;
    height: fit-content;
    margin: 0 20px;
    padding: 20px;
    background-color: #C0C0C0;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.device:hover {
    transform: translateY(-10px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.device img {
    width: 100%;
    max-width: 100px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.device h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.device button {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 52.644px;
    border: 1px;
    background: linear-gradient(0deg, #3955FF 0%, #91EFFF 100%);
    box-shadow: 0px 7.01925px 14.0385px 0px rgba(0, 0, 0, 0.18);
}

.device button:hover {
    background: rgb(18, 239, 198);
    color: rgb(0, 0, 0);
}

.sensor {
    text-align: center;
    width: 45%;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #C0C0C0;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

.sensor:hover {
    transform: translateY(-10px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.sensor img {
    width: 100%;
    max-width: 100px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.sensor h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.sensor p {
    font-size: 18px;
    margin-bottom: 10px;
}

.sensor button {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.sensor button:hover {
    background-color: #3e8e41;
}

.container1 {
    text-align: center;
    text-transform: uppercase;
    margin: 20px;
}

label {
    margin-right: 5px;
}

input[type="number"] {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.container1:hover {
    transform: translateY(-10px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

/* .container:hover {
    transform: translateY(-10px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
} */

#clock-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


#real-time-clock {
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    padding: 10px;
    display: inline-block;
    text-align: center;
}

#video-stream {
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: 50%;
}

#camera {
    margin: auto;
    text-align: center;
    width: 50%;
}

/*#Feeding_List {
    height: fit-content;
}*/

button {
    z-index: 2;
}

#log_in:hover {
    color: blue;
}

#log_in {
    z-index: 2;
    padding: 0;
    height: fit-content;
    width: fit-content;
    opacity: 1;
    position: relative;
}

#log_out:hover {
    color: blue;
}

#log_out {
    margin: 5px 0;
    padding: 0;
    height: fit-content;
    width: fit-content;
}

#log {
    height: 400px;
    width: fit-content;
    overflow: auto;
}

#login_page {
    background-image: url('smartcoop.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
}


@media (max-width: 1400px) {
    .container {
        flex-direction: column;
    }

    .sub-container {
        flex-direction: row;
        text-align: center;
    }

    .device {
        width: 100%;
        margin: 20px 20px;
    }

    .sensor {
        width: 100%;
    }

    #video-stream {
        flex-direction: column;
        margin: auto;
        text-align: center;
        width: 50%;
    }

    #camera {
        margin: auto;
        text-align: center;
        width: 50%;
    }
}


@media (max-width: 700px) {
    .container {
        flex-direction: column;
    }

    .sub-container {
        flex-direction: column;
        text-align: center;
    }

    .device {
        width: 100%;
        margin: 20px 0;
        padding: 20px 0;
    }

    .sensor {
        width: 100%;
    }

    #video-stream {
        flex-direction: column;
        margin: 20px;
        text-align: center;
        width: 100%;
    }

    #camera {
        margin: auto;
        text-align: center;
        width: 100%;
    }
}